/* Основные стили модального окна */


.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Верхняя панель заголовка */
.modal-header {
    background-color: #0078d7;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Заголовок окна */
.modal-header h1 {
    font-size: 14px;
    margin: 0;
}

/* Кнопки управления */
.modal-buttons {
    display: flex;
    gap: 5px;
}

.modal-button {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    color: black;
}

.modal-button:hover {
    background-color: #e0e0e0;
}



/* Содержимое модального окна */
.modal-content {
    position: relative; /* Добавьте это свойство */
                display: flex;
                flex-direction: column;
                align-items: center; /* Центрирование по горизонтали */
                justify-content: center; /* Центрирование по вертикали */
                background-color: #fff;
                margin: 5% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 30%;
                border-radius: 30px;
}



#qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px; /* Установите нужный размер для контейнера с QR кодом */
}

#qrcode img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}


/* Минимизированное состояние модального окна */
/*.modal.minimized .modal-content {
    display: none; /* Скрываем содержимое */
/*}

.modal.minimized {
    height: 40px; /* Высота только для верхней панели */
/*    overflow: hidden; /* Скрываем всё, что выходит за пределы */
/*}

.modal.minimized .modal-header {
    padding: 10px; /* Увеличиваем отступ, чтобы шапка выглядела нормально */
/* }



.modal-button.close {
    z-index: 1001; /* Должно быть выше, чем у остальных элементов */
  /*  position: relative;
}
